@using Clientes.Models
@model CreacionClienteDTO
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar</h1>

<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="RegistrarCliente" asp-controller="Home" method="post">
            <input asp-for="FechaHoraActualizacion" type="hidden"/>           

            <div class="mb-2">
                <label class="form-label">Nombre y Apellido</label>
                <input type="text" class="form-control form_control-sm" asp-for="NameLastname"/>
            </div>

            <div class="mb-2">
                <label class="form-label">Numero de Documento</label>
                <input type="number" class="form-control form_control-sm" asp-for="NroDocumento" />
            </div>

            <div class="mb-2">
                <label class="form-label">Tipo de Documento (cedula, pasaporte)</label>
                <input type="text" class="form-control form_control-sm" asp-for="TipoDeDocumento" />
            </div>

            <div class="mb-2">
                <label class="form-label">Fecha de Nacimiento (dd/mm/aaaa)</label>
                <input type="text" class="form-control form_control-sm" asp-for="FechadeNacimiento" />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Guardar</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm"> Volver a la Lista </a>

        </form>
        
        <hr />

  

    </div>
</div>